/* main ############## GENERALS ########## */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
button{
    padding: .8rem 3rem;
    border-radius: 50px;
    border: none;
    letter-spacing: .2rem;
    width: fit-content;
}
:root{
    --col1:#0084fd;
    --col2:#b5ddff;
}
h2{
    font-size: 2.5rem;
    padding: 2rem 0;
}
h3{
    font-size: 2.3rem;
}
p{
    margin: 1rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .05rem;
}

/*son ############## header ########## */
header{
    background-color: var(--col1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 10;
}

nav>ul{
    list-style-type: none;
}
li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

.toggle-btn{
    display:none;
}
.menu-btn{
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

.menu-wrap-target{
    display: none;
}
.toggle-btn:checked ~ .menu-wrap-target{
    display: block;
    position: absolute;
    top: 70px;
    right:0 ;
    left: 0;
    background-color: var(--col1);
    padding: 1rem;
}

nav>ul>li{
    padding: 1rem;
    text-align: center;
}
nav>ul>li:hover{
    background-color: #49a7ff;
}

/*son ############# SECTION ########### */
section{
    padding: 3rem 0;
}
section:nth-of-type(even){
    background-color:#9593e6 ;
    color: #fff;
}
section:nth-child(odd):not(:first-child) .card{
    background-color:#9593e6 ;
    color: #fff;
}
section:nth-child(even):not(:first-child):not(#planning) .card{
    color:#9593e6 ;
    background-color: #fff;
}
#testimonials h2{
    color: #9593e6;
}
#benefits h2{
    text-align: center;
    padding: 2rem 0;
}
#benefits button{
    background-color: #9593e6;
    color: #fff;
    margin: 2rem 0;
}
#benefits p{
    color: #777777;
    font-weight: 200;
}


/*son !############# CARDS ########### */

.card{
    padding: 0 2rem ;
    border-radius: 35px;
    height: 100%;
}
.card h3{
    font-size: 1.5rem;
}
.card p{
    line-height: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
}
.card_img>i{
    text-align: center;
    font-size: 7rem;
    padding: 2rem;
}

.bottom{
    margin-bottom: -5px;
}

.col-set-1{
    background-color: var(--col2);
    color: var(--col1);
}
.col-set-1 p{
    color:#5a6e7f
}
.col-set-2{
    background-color: #fff;
    color: #000;
}
.large{
    padding: 2rem 2rem 0 2rem ;
}
.down-btn{
    border-radius: 50%;
    padding: .8rem 1rem;
    background-color: #9593e6;
    margin: 1rem;
}
#planning .card>p{
    font-style: italic;
    font-weight: 400;
}
.sec-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1rem;
}
.bullet-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color:#e9ebea ;
    margin: 2rem;
}
.bullet-img img{
    scale: 1.6;
    transform: translate(0, 20%);
}
.testimonial-quote{
    text-align: center;
}
.testimonial-quote .esile{
    font-weight: 100;
}
.big-n{
    font-weight: 900;
    font-size: 4rem;
    padding: 2rem 0;
}
#benefits .card button{
    margin-top: auto;
}

/* main #############! utils ########### */
.txt-align{
    text-align: center;
}
.flex{
    display: flex;
}
.ycenter{
    align-items: center;
}
.xcenter{
    justify-content: ;
}
.between{
    justify-content: space-between;  
}
.col{
    width: 100%;
}
.col100{
    width: 100%;
}
.col50{
    width: 100%;
}
.switch{
    flex-direction: column;
}
.gap{
    gap: 2rem;
}
.n1{
    order: 1;
}
.n2{
    order: 2;
}
n3{
    order: 3;
}
.wrap{
    flex-wrap: wrap;
}

.txt-center{
    text-align: center;
}
.col2-3{
    width: 100% ;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.container-smaller{
    width: 700px;
    margin: 0 auto;
}
/*main ############### media query ########### */

/*son tablet */
@media screen and (min-width: 576px) {
    .col2-3 {
        width: calc(((100% - 4rem) / 3) *2);
    }
    .col{
        width: calc((100% - 4rem) / 3);
    }
    .col1-3{
        width: calc((100% - 4rem) / 2);
    }
    #intro>.card-container{
        flex-wrap: wrap;
        flex-direction: row;
    }
    #intro .card-container>.col:nth-last-of-type(4) .card{
        height: 100%;
    }
    #intro .card-container>.col:nth-last-of-type(4) .card p{
        margin-bottom: auto;
    }
    #testimonials .card{
        flex-direction: row;
    }
    #testimonials .card .testimonial-quote{
        width: 60%;
        text-align: start;
    }
}

/*son laptop */
@media screen and (min-width: 992px) {
    /* * header */
    .menu-wrap-target{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    .menu-wrap-target{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav>ul>li{
        width: fit-content;
    }
    nav>ul>li>a{
        border-radius: 45px;
        padding: .5rem .8rem;
        word-wrap: no-wrap;
    }
    nav>ul>li:last-child>a{
        background-color: #fff;
        color: #0084fd;
    }
    header>div>.logo{
        position: relative;
        top:7px
    }
    main>section>.card-container{
        flex-wrap: wrap;
        flex-direction: row;
    }
    /* * layout */
    .container{
        width: 80%;
    }
    .col:first-child{
        width: calc(((100% - 4rem) / 3) * 2);    
    }

    .col{
        width: calc((100% - 4rem) / 3);
    }
    .large{
        flex-direction: row;
        height: 100%;
    }
    /* * cards */
    .col1-3{
        width: calc((100% - 4rem) / 3);
    }
    .crd-col{
        width: 50%;
        overflow: hidden;
    }
    .large>div>img{
        margin-bottom: -320px;
    }

    .col50{
        width: calc((100% - 4rem) / 2);
    }
    #planning .card-container{
        display: flex;
        justify-content: space-between;
    }
    #planning .card-container {
        align-items: flex-end;
    }

    #testimonials .card{
        flex-direction: row;
    }
    #testimonials .card .testimonial-quote{
        width: 60%;
        text-align: start;
    }

}
/*son HD 2K 4K */
@media screen and (min-width: 1200px) {
    .container{
        width: 1000px;
        margin: 0 auto;
    }
    .col50{
        width: calc((100% - 4rem) / 2);
    }
    #planning .card-container{
        display: flex;
        justify-content: space-between;
    }
    #planning .card-container {
        align-items: flex-end;
    }
}






