*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    padding: 3rem 0;
}
img{
    width: 100%;
}
button{
    padding: .8rem 3rem;
    border-radius: 50px;
    border: none;
    letter-spacing: .2rem;
}
:root{
    --col1:#0084fd;
    --col2:#b5ddff;
}

/*! ############## header ########## */
header{
    background-color: var(--col1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
nav>ul{
    list-style-type: none;
}
li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .05rem;
}

.toggle-btn{
    display:none;
}
.menu-btn{
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

.menu-wrap-target{
    display: none;
}
.toggle-btn:checked ~ .menu-wrap-target{
    display: block;
    position: absolute;
    top: 70px;
    right:0 ;
    left: 0;
    background-color: var(--col1);
    padding: 1rem;
}

nav>ul>li{
    padding: 1rem;
    text-align: center;
}
nav>ul>li:hover{
    background-color: #49a7ff;
}

/* !############# CARDS ########### */

.card{
    padding: 0 2rem ;
    border-radius: 35px;
}
.card h3{
    font-size: 1.5rem;
}
.card p{
    line-height: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
}
.card_img>i{
    text-align: center;
    font-size: 7rem;
    padding: 2rem;
}

.bottom{
    margin-bottom: -5px;
}

.col-set-1{
    background-color: var(--col2);
    color: var(--col1);
}
.col-set-1 p{
    color:#5a6e7f
}
.large{
    padding: 2rem 2rem 0 2rem ;
}
/* ! utils */

.flex{
    display: flex;
}
.ycenter{
    align-items: center;
}
.between{
    justify-content: space-between;  
}
.col{
    width: 100%;
}
.switch{
    flex-direction: column;
}
.gap{
    gap: 2rem;
}
.n1{
    order: 1;
}
.n2{
    order: 2;
}
n3{
    order: 3;
}
.txt-center{
    text-align: center;
}
/* ! media query */

/* main tablet */
@media screen and (min-width: 576px) {
    
}

/* main laptop */
@media screen and (min-width: 992px) {
    .menu-wrap-target{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    .menu-wrap-target{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav>ul>li{
        width: fit-content;
    }
    nav>ul>li>a{
        border-radius: 45px;
        padding: .5rem .8rem;
        word-wrap: no-wrap;
    }
    nav>ul>li:last-child>a{
        background-color: #fff;
        color: #0084fd;
    }
    .container{
        width: 100%;
    }
    header>div>.logo{
        position: relative;
        top:7px
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1000px;
        margin: 0 auto;
    }
}






